<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">{{title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href='/restaurants/74' routerLinkActive="active">DASHBOARD</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='/restaurants/52' routerLinkActive="active">TELEPON PENTING</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron imgBackground" style="height: 250px;">
  <div class="container">
    <br>
    <h1 class="display-3 text-center" style="font-weight: bold;color: red;">AWAS CORONA</h1>
    <p class="lead m-0 text-center" style="text-shadow: 1px 2px #F6F5F5;font-weight: bold;">Informasi Pandemi Virus Corona di Indonesia dan Global</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
      <div class="card bg-danger img-card box-primary-shadow">
        <div class="card-body">
          <div class="d-flex">
            <div class="text-white">
              <p class="text-white mb-0">TOTAL POSITIF</p>
              <h1 class="mb-0 number-font">{{ global.total_cases }}</h1>
              <p class="text-white mb-0">ORANG</p>
            </div>
            <div class="ml-auto"> <i class="fas fa-frown" style="font-size: 40pt;color: aliceblue;"></i> </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
      <div class="card bg-success img-card box-secondary-shadow">
        <div class="card-body">
          <div class="d-flex">
            <div class="text-white">
              <p class="text-white mb-0">TOTAL SEMBUH</p>
              <h1 class="mb-0 number-font">{{ global.total_recovered }}</h1>
              <p class="text-white mb-0">ORANG</p>
            </div>
            <div class="ml-auto"> <i class="fas fa-smile-beam" style="font-size: 40pt;color: aliceblue;"></i></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
      <div class="card  bg-warning img-card box-success-shadow">
        <div class="card-body">
          <div class="d-flex">
            <div class="text-white">
              <p class="text-white mb-0">TOTAL MENINGGAL</p>
              <h1 class="mb-0 number-font">{{ global.total_deaths }}</h1>
              <p class="text-white mb-0">ORANG</p>
            </div>
            <div class="ml-auto"> <i class="fas fa-sad-cry" style="font-size: 40pt;color: aliceblue;"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
      <div class="card bg-info img-card box-success-shadow">
        <div class="card-body">
          <div class="d-flex">
            <div class="text-white">
              <h5 class="mb-0 number-font">INDONESIA</h5>
              <p class="text-white mb-0"><b> {{ indonesia.total_cases }}</b> POSITIF<BR> <b>{{ indonesia.total_recovered }}</b> SEMBUH<BR> <b>{{ indonesia.total_deaths }}</b> MENINGGAL</p>
            </div>
            <div class="ml-auto"> <img src="../assets/indonesia.png" width="50" height="50"
                alt="Positif"> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>