.imgBackground {
    background-image: url('../assets/world.jpg');
    background-size: 1024px 300px;
    background-repeat: no-repeat;
    background-position:center;
  }

.tableTitle{
  font-weight: bold;
}

.tableFixHead          { overflow-y: auto; height: 100px; }
.tableFixHead thead th { position: sticky; top: 0; }

th {
  background-color: white;
} 