<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">{{title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item">
          <a class="nav-link" href='/restaurants/74' routerLinkActive="active">DASHBOARD</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='/restaurants/52' routerLinkActive="active">TELEPON PENTING</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron imgBackground" style="height: 250px;">
  <div class="container">
    <br>
    <p class="display-4 text-center" style="font-weight: bold;color: red;">AWAS CORONA</p>
    <p class="lead m-0 text-center" style="text-shadow: 1px 2px #F6F5F5;font-weight: bold;">Update Informasi Pandemi Virus
      Corona di Indonesia dan Global</p><p></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
      <div class="card bg-warning img-card box-primary-shadow">
        <div class="card-body">
          <div class="d-flex">
            <div class="text-white">
              <p class="text-white mb-0">TOTAL POSITIF</p>
              <h1 class="mb-0 number-font">{{ global.total_cases }}</h1>
              <p class="text-white mb-0">ORANG</p>
            </div>
            <div class="ml-auto"> <i class="fas fa-frown" style="font-size: 40pt;color: aliceblue;"></i> </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
      <div class="card bg-success img-card box-secondary-shadow">
        <div class="card-body">
          <div class="d-flex">
            <div class="text-white">
              <p class="text-white mb-0">TOTAL SEMBUH</p>
              <h1 class="mb-0 number-font">{{ global.total_recovered }}</h1>
              <p class="text-white mb-0">ORANG</p>
            </div>
            <div class="ml-auto"> <i class="fas fa-smile-beam" style="font-size: 40pt;color: aliceblue;"></i></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
      <div class="card  bg-danger img-card box-success-shadow">
        <div class="card-body">
          <div class="d-flex">
            <div class="text-white">
              <p class="text-white mb-0">TOTAL MENINGGAL</p>
              <h1 class="mb-0 number-font">{{ global.total_deaths }}</h1>
              <p class="text-white mb-0">ORANG</p>
            </div>
            <div class="ml-auto"> <i class="fas fa-sad-cry" style="font-size: 40pt;color: aliceblue;"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3">
      <div class="card bg-info img-card box-success-shadow">
        <div class="card-body">
          <div class="d-flex">
            <div class="text-white">
              <h5 class="mb-0 number-font">INDONESIA</h5>
              <p class="text-white mb-0"><b> {{ indonesia.total_cases }}</b> POSITIF<BR>
                <b>{{ indonesia.total_recovered }}</b> SEMBUH<BR> <b>{{ indonesia.total_deaths }}</b> MENINGGAL</p>
            </div>
            <div class="ml-auto"> <img src="../assets/indonesia.png" width="50" height="50" alt="Positif"> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p></p>
  
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-14 text-center">
      <p>Update Data per {{ indonesia.record_date | date:'yyyy-MM-dd HH:mm:ss' }}</p>
    </div>
  </div>

  <div class="row row-cards">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-14">
      <div class="card">
        <div class="card-header">
          <p class="card-title tableTitle">Line Chart Histori Kasus Virus Corona di Indonesia (Update setiap 10 menit)
        </div>
        <div class="card-body">
          <div class="chart-wrapper">
            <canvas baseChart height="400"
                [datasets]="lineChartData" 
                [labels]="lineChartLabels" 
                [options]="lineChartOptions"
                [colors]="lineChartColors" 
                [legend]="lineChartLegend" 
                [chartType]="lineChartType" 
                [plugins]="lineChartPlugins">
            </canvas>
        </div>
        </div>
      </div>
    </div>
  </div>

  <p></p>

  <!-- <div class="row row-cards">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-14">
      <div class="card">
        <div class="card-header">
          <p class="card-title tableTitle">Tabel Histori Kasus Virus Corona di Indonesia (Update setiap 10 menit)
          <button type="button" class="btn btn-success float-right" (click)="loadHistoryIndonesia()"><i class="fas fa-sync-alt"></i></button></p>
        </div>
        <div class="card-body">
          <div class="table-responsive tableFixHead" style="height: 400px;">
            <table class="table table-bordered table-hover mb-0 text-nowrap css-serial">
              <thead>
                <tr>
                  <th>NO.</th>
                  <th>Tanggal Record</th>
                  <th>Positif</th>
                  <th>Sembuh</th>
                  <th>Meninggal</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of historiesFilter;let i = index">
                  <td>{{i+1}}</td>
                  <td>{{ data.record_date | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                  <td>{{ data.total_cases }}</td>
                  <td>{{ data.total_recovered }}</td>
                  <td>{{ data.total_deaths }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <p></p>

  <div class="row row-cards">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-14">
      <div class="card">
        <div class="card-header">
          <p class="card-title tableTitle">Kasus Virus Corona Global (per
            {{ allCountries.lastChecked | date:'yyyy-MM-dd HH:mm:ss' }})</p>
        </div>
        <div class="card-body">
          <div class="table-responsive tableFixHead" style="height: 400px;">
            <table class="table table-bordered table-hover mb-0 text-nowrap css-serial">
              <thead>
                <tr>
                  <th>NO.</th>
                  <th>Tanggal Record</th>
                  <th>Negara</th>
                  <th>Province</th>
                  <th>Positif</th>
                  <th>Sembuh</th>
                  <th>Meninggal</th>                 
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of allCountries.covid19Stats;let i = index">
                  <td>{{i+1}}</td>
                  <td>{{ data.lastUpdate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                  <td>{{ data.country }}</td>
                  <td>{{ data.province }}</td>
                  <td>{{ data.confirmed }}</td>
                  <td>{{ data.recovered }}</td>
                  <td>{{ data.deaths }}</td>                  
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p></p>

<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">Build on <i class="fab fa-angular" style="font-size: 20px;color:red;"></i> | Develop by 
    <a href="https://github.com/hendrosteven"> Hendro Steven </a> | Github <a href="https://github.com/hendrosteven/ng-awas-corona"><i class="fab fa-github" style="font-size: 20px;color:black;"></i></a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
